@font-face {
  font-family: "Edu";
  src: url("/dream-project/fonts/EduVICWANTBeginner.ttf");
}

body {
  font-family: "Edu";
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: black;
}
html {
  overflow: hidden;
}
