@font-face {
  font-family: "Edu";
  src: url("/dream-project/fonts/EduVICWANTBeginner.ttf");
}

body {
  font-family: "Edu";
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: black;
}
html {
  overflow: hidden;
}

.background-one-section {
  background: url("/dream-project/meteoro1.gif");
  background-position: left 50% top 100vh;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  box-shadow: inset 0 0 3em 2em #000;
  width: 100vw;
  height: 100vh;
}

.neutral-background {
  background: url("/dream-project/moon.jpg");
}
.good-background {
  background: url("/dream-project/universo.jpg");
}
.bad-background {
  background: url("/dream-project/bosque.jpg");
}
